/* LIGNE 17 ---------------------------*/


/*IMAGES BLANCHES --------------------*/
/*------------------------------------*/


section .b tr:nth-child(17) th:nth-child(6){
    background-color: var(--color-second); 
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpTDcDtX6C-VzD5BKvweGXwmebCjppFAWrFhXd54v45-bPfnAcP9SvR-ri9MDQuPh6qpQ&usqp=CAU");}
    
section .b tr:nth-child(17) th:nth-child(7){
    background-color: var(--color-second); 
    background-image: url("https://preview.colorkit.co/color/808080.png?static=true");}
    
section .b tr:nth-child(17) th:nth-child(8){
    background-color: var(--color-second); 
    background-image: url("https://preview.colorkit.co/color/80807F.png?static=true");}
    
section .b tr:nth-child(17) th:nth-child(9){
    background-color: var(--color-second); 
    background-image: url("https://www.colorhexa.com/808080.png");}
    
section .b tr:nth-child(17) th:nth-child(13){
    background-color: var(--color-second); 
    background-image: url("https://htmlcolorcodes.com/assets/images/colors/gray-color-solid-background-1920x1080.png");}
    

/*IMAGES NOIRES ----------------------*/
/*------------------------------------*/

section .b tr:nth-child(17) th:nth-child(1){
    background-color: var(--color-main); 
    background-image: url("https://preview.redd.it/what-is-this-glowing-on-side-its-black-screen-wallpaper-v0-o85wc701bc3c1.jpg?width=640&crop=smart&auto=webp&s=3c4626984c36acd02435457b9afb0c79872b5cc3");}

section .b tr:nth-child(17) th:nth-child(2){
    background-color: var(--color-main); 
    background-image: url("https://media.istockphoto.com/id/1314384576/fr/photo/texture-en-m%C3%A9tal-noir-pour-le-fond.jpg?s=612x612&w=0&k=20&c=c4qG68CdJ0ls7RySIwV-Yc87hq6aG7gp7n-zjGiws84=");}
    
section .b tr:nth-child(17) th:nth-child(3){
    background-color: var(--color-main); 
    background-image: url("https://media.istockphoto.com/id/1133405969/fr/photo/fond-noir-mat.jpg?s=612x612&w=0&k=20&c=nOCzw2Tw7IFXxrHCZVmDRWOmQJQ8EkfNhF5L8bq-Ek0=");}

section .b tr:nth-child(17) th:nth-child(4){
    background-color: var(--color-main); 
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgnAo-ShheIFI8aTeYkOV-P_zl2MgDfFZMrQhoYfatasSrpQEpBodFrtMxeyUtfM5P9wI&usqp=CAU");}

section .b tr:nth-child(17) th:nth-child(5){
    background-color: var(--color-main); 
    background-image: url("https://www.mlporcelaine.ch/images/stories/virtuemart/product/Noir_mat_4e00a48cde82c.jpg");}

section .b tr:nth-child(17) th:nth-child(10){
    background-color: var(--color-main); 
    background-image: url("https://img.freepik.com/vecteurs-libre/texture-fond-noir_78370-339.jpg");}

section .b tr:nth-child(17) th:nth-child(11){
    background-color: var(--color-main); 
    background-image: url("https://img3.wallspic.com/previews/4/9/4/8/7/178494/178494-lumiere-graphisme-purple-blue-noir-550x310.jpg");}

section .b tr:nth-child(17) th:nth-child(12){
    background-color: var(--color-main); 
    background-image: url("https://s.tmimgcdn.com/scr/800x500/297400/texture-de-fond-noir-fonce_297412-original.jpg");}

/* MODEL -----------------------------*/
/* LIGNE 17 ---------------------------*/


/*IMAGES BLANCHES --------------------*/
/*------------------------------------*/


nav .b tr:nth-child(17) th:nth-child(6){
    background-color: var(--color-second-nav); }

nav .b tr:nth-child(17) th:nth-child(7){
    background-color: var(--color-second-nav); }

nav .b tr:nth-child(17) th:nth-child(8){
    background-color: var(--color-second-nav); }

nav .b tr:nth-child(17) th:nth-child(9){
    background-color: var(--color-second-nav); }

nav .b tr:nth-child(17) th:nth-child(13){
    background-color: var(--color-second-nav); }


/*IMAGES NOIRES ----------------------*/
/*------------------------------------*/

nav .b tr:nth-child(17) th:nth-child(1){
    background-color: var(--color-main-nav); }

nav .b tr:nth-child(17) th:nth-child(2){
    background-color: var(--color-main-nav); }
    
nav .b tr:nth-child(17) th:nth-child(3){
    background-color: var(--color-main-nav); }

nav .b tr:nth-child(17) th:nth-child(4){
    background-color: var(--color-main-nav); }

nav .b tr:nth-child(17) th:nth-child(5){
    background-color: var(--color-main-nav); }

nav .b tr:nth-child(17) th:nth-child(10){
    background-color: var(--color-main-nav); }

nav .b tr:nth-child(17) th:nth-child(11){
    background-color: var(--color-main-nav); }

nav .b tr:nth-child(17) th:nth-child(12){
    background-color: var(--color-main-nav); }
